@media (max-width: 992px) {
    *{
        font-size: 14px;
    }
    body{
        width: 100%;
        min-width: 470px;
        overflow: hidden;
    }
}

@media (max-width: 576px) {
    *{
        font-size: 10px;
        margin: 0;
    }
}

@media (max-width: 450px) {

}