@media (max-width: 992px) {
    *{
        font-size: 14px;
        margin: 0;
    }
    .menubars{
        display: flex;
    }
    .navar{
        position: absolute;
        top: 95px;
        left: 2%;
        right: 2%;
        
        flex-direction: column;
        background-color: aliceblue;
        border-top: 0px;
        border-radius: 0px 0px 15px 15px;
        align-items: flex-start;
        padding: 45px 30px;
        gap: 25px;
        z-index: 2;
        display: none;
    }
    .open-menu {
        display: flex;
    }
    .info{
        width: 90%;
        height: 250px;     
    }
    .info p{
        font-size: 2em;
        width: 70%;
    }
    .subt{
        font-size: 1.8em;
        text-align: center;
        margin: 2%;
        width: auto;
    }
   

}
/*Tablet*/
@media (max-width: 830px) {
    .contcontac{
        display: block;
        height: auto;
        width: 100%;
        padding: 3%;
    }

    .continfo{
        backdrop-filter: blur(90px);
        width: 60%;
        height: 30%;
        margin: auto;
    }
    .social{
        display: flex;
        flex-direction: row;
        width: 100%;
        border: #000 2px solid;
        padding: 5px;
    }
    
    .frmcontact{
        margin: auto;
        width: 60%;
    }
    .btnenviar{
        font-size: 1em;
    }
    .imgmenu{
        margin-bottom: 35%;
        height: auto;
    }

}
/*Celular*/
@media (max-width: 576px) {
    *{
        font-size: 10px;
        margin: 0;
    }
    .info p{
        font-size: 1.5em;
        width: 70%;
    }
    .cart{
        width: 100%;
    }
    .frmcontact{
        width: 100%;
    }
    .btnenviar{
        font-size: 1.2em;
    }
}

