@media (max-width: 992px) {
    *{
        font-size: 14px;
        margin: 0;
    }
    .menubars{
        display: flex!important;
    }
    .navar {
        display: none;
    }

    .info{
        width: 80%;
        height: 80%;      
    }
    .info p{
        font-size: 2em;
        width: 70%;
    }
    .subt{
        font-size: 1.8em;
        text-align: center;
        margin: 2%;
        width: auto;
    }
}
/*Tablet*/
@media (max-width: 768px) {
    .contcontac{
        display: block;
        height: auto;
        width: 100%;
        padding: 3%;
    }

    .continfo{
        backdrop-filter: blur(90px);
        width: 60%;
        height: 30%;
        margin: auto;
    }
    .social{
        display: flex;
        flex-direction: row;
        width: 100%;
        border-top: #000 2px solid;
        border-bottom: #000 2px solid;
        border-left: none;
        border-right:none;
    }
    .frmcontact{
        margin: auto;
        width: 100%;
    }
    .imgmenu{
        margin-bottom: 35%;
        height: auto;
    }
    .total{
        font-size: 12px;
    }
}
/*Celular*/
@media (max-width: 576px) {
    *{
        font-size: 10px;
        margin: 0;
    }
    .info p{
        font-size: 1.5em;
        width: 70%;
    }
    
}

