@font-face {
    font-family: lato-regular;
    src: url(/font/latoregular.ttf);
}
@font-face {
    font-family: lato-italic;
    src: url(/font/latoitalic.ttf);
}

@keyframes animate {
    20%{
        background-image: url(/img/backgroundinfo/2.jpg);
    }
    40%{
        background-image: url(/img/backgroundinfo/3.jpg);
    }
    60%{
        background-image: url(/img/backgroundinfo/4.jpg);
    }
    80%{
        background-image: url(/img/backgroundinfo/5.jpg);
    }
    100%{
        background-image: url(/img/backgroundinfo/6.jpg);
    }
}

*{
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    font-family: lato-italic;
    font-size: 16px;
    color: black;
    margin: 0;
}

section{
    margin: auto;
    position: relative;
}
.hidden{
    display: none;
}
.mostrar {
    display: flex;
}
.menubars{
    display: none!important;
}

.navar{
    margin: auto;
}
header nav{
    position: relative;
    transition: all .4s linear;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 4px solid rgb(61, 85, 61);
    margin: auto;
    position: relative;
    
}
header nav a{
    padding: 0.2em 0.5em;
    font-weight:500;
    font-size: 1.5em;
    border-radius: 10px;
}
header nav a:hover,
header nav a.active{
    background-color: rgb(44, 56, 44);
    color: #fdfdfd;
}
header .iconshead i{
    margin: 0;
    padding: 0 1em;
    font-size: 1.8em;
    color: darkgreen;
    cursor: pointer;
}
.iconshead{
    margin: 0;
    display: flex;
}
header img{
    height: 6em;
    min-height: 5em;
    margin: 0.2em 1em;
    cursor: pointer;
}
/*----------Info--------*/
.info{
    max-width: 1000px;
    height: 350px;
    background-image: url(/img/backgroundinfo/1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    animation: animate 10s infinite;
    border-radius: 25px;
}
.info p{
    font-size: 1.8em;
    width: 60%;
    height: auto;
    padding: 3%;
    backdrop-filter: blur(18px);
    color: #fff;
    border-radius: 25px;
}
h1{
    font-size: 3em;
    text-align: center;
    color: #fff;
    background-color: #000;
    border-radius: 25px 25px 0 0;
    margin-top: 15px;
}

/*----------Menu e "ex-inicio"--------*/
.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 4%;
    border-top: 2px solid darkgrey;
    margin: auto;
    width: 100%;
}
.subtmenu{
    margin: 0 8px;
}

section i{
    font-size: 2em;
    cursor: pointer;
}
section i:hover{
    color: #fff;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards{
    height: 300px;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5%;
    margin: auto;
    min-width: 250px;
    max-width: 1200px;
}
.cards::-webkit-scrollbar{
    display: none;
}
.contcard{
    width: 100%;
    
}

/*Muesta los menu las tarjetas*/
.card{
    display: flex;
    width: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    min-width: 200px;
    min-height: 200px;
    margin: 0 8px;
    cursor: pointer;
    background-color: #282828;
    border-radius: 10%;
}
h4 {
    width: 100%;
    color: #fff;
    font-size: 1em;
    margin: 5px;
}
h3 {
    width: 100%;
    color: green;
    font-size: 1em;
    margin: 5px;
}

.subtmenu{
    font-size: 1.8em;
    font-weight: bold;
}
.txtmenu{
    margin:auto ;
}
img{
    width: 120px;
    height: 120px;
    border-radius: 10%;
    image-orientation: center;
    position: relative;
}

button{
    width: 125px;
    position: relative;
    cursor: pointer;
    font-size: 18px;
    padding: 8px;
    margin: 10px ;
    border-radius: 25px;
    color: #d7d7d7;
    border: solid 1px #333;
    background: #333;
    background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#000))
}
button:hover{
    background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#666))
}
.card:hover{
    background-color: #000000;
}
.inicio{
    display: block;
    align-items: center;
    margin: auto;
    max-width: 70em;
}
.titulos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    justify-content: center;
}

.subt{
    font-size: 2em;
    text-align: center;
    margin: 5%;
    width: 400px;
}
.imgmenu{
    margin: 2%;
    width: 30%;
    height: auto;
}
.contenedor{
    background-color: #fff;
    max-width: 70em;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    
}
.contenedorInicio{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 70em;
    margin: auto;
}
.imgmenu1{
    border-radius: 100%;
    margin: 5px 20px;
}
body{
    background-color: #fff;
    overflow-x: hidden;
}
.menutitulo{
    font-size: 2em;
    text-align: center;
    margin: auto;
}
.negrita{
    font-family: "lato-regular";
    font-weight: bold;
    font-size: 1em; 
}
.txtinicio{
    width: 70%;
    color: #000000;
    text-align: right;
    font-size: 1.5em;
    text-align: justify;    
}
.precio {
    font-weight: bold;
    color: darkred;
    font-size: 1.5em;
    text-align: center;
    margin: 1%;
}
section i:hover {
    color: #101010;
}
/*----------formulario de contacto--------*/
.contac{
    max-width: 70em;
    height: auto;
    margin: auto;
}
.contcontac{
    display: flex;
    background-image: url(/img/contacus.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 25px;
    height: 300px;
    width: 100%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.continfo{
    position: relative;
    display: block;
    backdrop-filter: blur(18px);
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    height: 50%;
    margin: auto;
}
.continfo p{
    font-size: 1.5em;
    color: #fff;
}
.contac h3{
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 1.5em;
    margin: 30px 0;
}

.txtfrm{
    background-color: #ffffff;
    color: #000;
    border-bottom: 2px darkgreen solid;
    margin: 5px 5px;
    padding: 1%;
    font-size: 1.2em;
}
.contfrminput{
    display: flex;
}
.btnenviar{
    width: 125px;
    position: relative;
    cursor: pointer;
    font-size: 18px;
    padding: 8px;
    margin: 10px ;
    border-radius: 25px;
    color: #d7d7d7;
    border: solid 1px #333;
    background: #333;
    background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#000))
}
.btnenviar:hover{
    background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#666))
}
.social {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 80px;
    border-left: #000 3px solid;
    border-right: #000 3px solid;
    background-color: #fdfdfd;
    align-items: center;
    justify-content: space-around;
}
.social i:hover {
    color: darkgreen;
}
.frmcontact{
    margin: auto;
    width: 40%;
}
/*----------Footer--------*/
footer{
    height: 200px;
    width: 100%;
    border-top: #000 2px solid;
    margin-top: 20px;
}

/* Carrito */ 
.cart {
    top: 5px;
    position: absolute;
    width: 400px;
    right: 0;
    display: none; 
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 800px;
    overflow-y: scroll;
    border: 1px solid darkgreen;
    z-index: 9999;
    background-color: #ffffff;
    transform: translate(5%);
    transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
    padding: 50px 30px;
    gap: 30px;
    min-width: 375px;
}
/*Toggle del carro*/
.open-cart {
    display: flex;
    transform: translate(0%);
    transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
    visibility: visible;
    transform: none;
}
.cart h2{
    position: relative;
    top: -110px;
    font-size: 20px;
}
.cart-total{
    display: flex;
    align-items: center;
    width: 100%;
    border-top: #282828 solid 2px;
    border-bottom: #282828 solid 2px;
    margin: 2%;
    padding: 10%;
}
.menucarro{
    font-size: 18px;
    font-weight: bold;
}
.total{
    margin-left: 15px;
    font-size: 18px;
}
.mercadotitulos{
    width: 90%;
    display: flex;
    justify-content: end;
    align-items: end;
    position: relative;
    top: -30px;
}
.mercadotitulos i{
    font-size: 30px;
    color: darkgreen;
}
.mercadotitulos i:hover{
    color: #000;
    cursor: pointer;
}




